{% extends 'base.html' %}

{% block title %}Credits{% endblock %}
{% block header %}
    <h1>Credits</h1>
{% endblock %}

{% block custom %}
    <div class="row" style="color: #14213d;">
        <div class="col"></div>
        <div class="col">
            The websites content was created by
            Yoav Levy.
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 14rem;filter: drop-shadow(0 0 0.80rem rgb(0,0,0));">
                <img src="/assets/yoav.jpeg" class="card-img-top" alt="Yoav Levy">
                <div class="card-body">
                    <h5 class="card-title">Yoav Levy</h5>
                    <p class="card-text">CS Student @ The Hebrew University of Jerusalem. </p>
                    <a href="https://www.linkedin.com/in/yoav-levy/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>


{% endblock %}